/* client/src/pages/HomePage/homePage.css */
.homePage-container {
  font-family: Arial, sans-serif;
}

.homePage-header {
  text-align: center;
}

.homePage-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.homePage-genreHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePage-main h2 {
  color: white;
}

.homePage-main a {
  color: white;
  text-decoration: none;
}

.homePage-showMore {
  color: #717171;
  font-weight: 700;
  cursor: pointer;
}

.homePage-showMore:hover {
  color: #ffffff;
  text-decoration: underline;
}

.homePage-scroll {
  height: 300px;
}

.homePage-scroll img {
  width: 200px;
  height: 300px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
  .homePage-main h2 {
    font-size: 20px;
    margin: 5px 0;
  }

  .homePage-main a {
    font-size: 16px;
  }

  .homePage-scroll {
    height: 250px;
  }

  .homePage-scroll img {
    width: 150px;
    height: 250px;
    margin-right: 10px;
  }
}
