.byMovie-page {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

.byMovie-header {
  text-align: center;
  margin-bottom: 20px;
}

.byMovie-trailer {
  margin-bottom: 20px;
}

.byMovie-movie-title {
  font-size: 24px;
  font-weight: bold;
}

.byMovie-main-section {
  margin-bottom: 40px;
}

.byMovie-film-synopsis {
  margin-bottom: 20px;
}

.byMovie-general-details {
  margin-bottom: 20px;
}

.byMovie-image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.byMovie-movie-image {
  width: 100%;
  margin-bottom: 10px;
}

.byMovie-cast-crew-section {
  margin-bottom: 40px;
}

.byMovie-directors {
  margin-bottom: 20px;
}

.byMovie-director {
  text-align: center;
  margin-bottom: 10px;
}

.byMovie-director-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.byMovie-actors {
  display: flex;
  flex-wrap: wrap;
}

.byMovie-actor {
  width: 25%;
  text-align: center;
  margin-bottom: 20px;
}

.byMovie-actor-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.byMovie-reviews-section {
  margin-bottom: 40px;
}

.byMovie-similar-movies-section {
  margin-bottom: 40px;
}
