/* byMoviePage.css */
.byMoviePage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.byMoviePage-main section {
  width: 100%;
  max-width: 1160px;
  margin-bottom: 20px;
}

.byMoviePage-trailer {
  text-align: center;
}

.byMoviePage-trailer iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
}

.byMoviePage-sectionTitle {
  font-size: 2em;
  margin-bottom: 10px;
}

.byMoviePage-photoGallery {
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
}

.byMoviePage-photoGallery img {
  height: 150px;
  width: 266px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.byMoviePage-photoGallery img:hover {
  transform: scale(1.1);
}

.byMoviePage-scroll {
  height: 150px;
}
