/* client/src/components/Footer/footer.css */
.footer-section {
  color: #fff;
  text-align: center;
  background-color: #121212;
  padding-top: 20px;
}

.footer-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1160px;
  margin: auto;
  padding: 20px;
}

.footer-lists {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-list {
  text-align: left;
  flex: 1;
}

.footer-list a {
  text-decoration: none;
}

.footer-list p {
  margin: 0px;
  margin-bottom: 10px;
  display: block;
  text-align: left;
}

.footer-list span {
  font-size: 20px;
  padding: 5px 10px;
  color: #ccc;
  cursor: pointer;
}

.footer-list span:hover {
  background-color: #444;
  color: #fff;
}

.footer-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  text-align: left;
}

.footer-subscribe p {
  margin-bottom: 10px;
}

.footer-form {
  display: flex;
  margin-bottom: 10px;
}

.footer-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
}

.footer-submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-submit-button:hover {
  background-color: #0056b3;
}

.footer-social {
  display: flex;
  justify-content: start;
  margin-top: 10px;
}

.footer-social img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.footer-down {
  padding: 10px 20px;
  background-color: #222;
}

.footer-down p {
  margin: 0;
}

@media screen and (max-width: 1281px) {
  .footer-up {
    max-width: 920px;
  }

  .footer-subscribe {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .footer-up {
    max-width: 850px;
  }
}

@media screen and (max-width: 991px) {
  .footer-up {
    max-width: 920px;
  }
}

@media screen and (max-width: 890px) and (min-width: 769px) {
  .footer-list span {
    font-size: 18px;
  }

  .footer-subscribe {
    max-width: 245px;
  }

  .footer-input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer-up {
    flex-direction: column;
    align-items: center;
    max-width: 550px;
  }

  .footer-lists {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-list {
    flex: 1;
    margin-bottom: 0;
  }

  .footer-subscribe {
    max-width: 400px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
  }

  .footer-form {
    flex-direction: column;
  }

  .footer-input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer-social {
    justify-content: center;
  }
}

@media screen and (max-width: 569px) and (min-width: 522px) {
  .footer-list span {
    font-size: 18px;
  }

  .footer-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 522px) {
  .footer-list span {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .footer-input,
  .footer-submit-button {
    font-size: 16px;
  }
}
