/* client/src/components/Header/header.css */
.header-header {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-app-name {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  color: white !important;
  text-decoration: none;
}

.header-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-links li {
  margin: 0 10px;
}

.header-links a {
  color: #e50914;
  text-decoration: none;
  font-size: 18px;
}
